body {
    background-color: rgba(0, 150, 62, 0.233);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s ease;
}

header {
    color: #fd896c;
    display: flex;
    background-color: #112a6d;
    font-size: 13px;
    align-items: center;
    justify-content: center;
}

.dropdown-menu * {
    margin: 0px;
    padding: 0px;
}

.dropdown-menu>ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.dropdown-menu>ul li a {
    display: block;
    background-color: #849ad4;
    padding-top: 30px;
    min-width: 300px;
    height: 50px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 10px 5px 0px 0px;
    color: #fd896c;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    transition: all 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.dropdown-menu ul li {
    position: relative;
}

.dropdown-menu li a:hover {
    background-color: #3e4f7e;
    color: #fd896c;
    box-shadow: 1px 5px 10px -5px black;
}

.dropdown-menu li ul {
    position: absolute;
    list-style: none;
    display: none;
}

.dropdown-menu li ul a {
    background-color: #6f6dff;
    color: #13116d;
    margin: 0px;
    text-transform: none;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    height: 30px;
    padding: 10px 0px 5px 20px;
}

.dropdown-menu li>ul li ul {
    position: absolute;
    right: -320px;
    top: 0px;
}

.dropdown-menu li:hover>ul {
    display: block;
}