.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: green;
    animation-duration: 4s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: all ease 2s;
}

@keyframes slidein {
    from {
        margin-left: calc(100% - 100px);
    }
}

.circle:hover {
    background-color: red;
}