.topnav 
{
    background-color: darkred;
    overflow: hidden;

    text-align: justify;
}  

.topnav a 
{
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 700;
    float: left;
}

li
{
    list-style: none;
}
.topnav a:hover 
{
    background-color: #ddd;
    color: black;
}
.brand-logo
{
    pointer-events: none;
    cursor: default;
}
#phone
{
    float: right;
    pointer-events: none;
    cursor: default;
}